<div class="page-header text-center">
	<h1><img src="{{team.logo}}" />{{team.origin}} {{team.name}}</h1>
</div>
<!-- trying to show events through teams -->

<div class="text-center">
	<h4>Favorite this team: <a href="#" id="fav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-star-empty" id="star"></span></a></h4>
	{{!-- <button type="button" class="btn btn-primary" id="fav"> Add Team To Favorites</button> --}}

{{!--   <form method="GET" action="/teams/api/:id/user">
      <div class="form-group col-md-4">
        <input class="btn btn-primary col-md-12" type="submit" value="Favorite This Team">
      </div>
  </form>
 --}}

  <h1 id="bars-explain">Bars showing the game:</h1>

</div>



<div id="bar-info-test">

</div>

<br>

<div id="map" class="col-centered">
  {{!-- map is rendered here--}}
</div>

{{!-- call js file --}}
<script type="text/javascript" src="/javascripts/maps.js"> </script>

<script type="text/javascript" src="/javascripts/fav.js"> </script>
