body {
	font-family: 'Oswald', sans-serif;
  padding-top: 50px;
}

.fb-login {
	max-height: : 30px;
	float: right;
}

.goog-login {
	max-height: 32px;
	float: right;

}

.jumbotron {
	background: url("/images/sports-bar.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 625px;
	text-align: center;
	color: white;
}

.center {
	text-align: center;
}

.form-centered {
	display: inline-block;
	float: none;
	text-align: left;
}

#site-description {
	background-color: rgba(1,1,1,.25);
	color: #ffffff;
	margin-top: 200px;
	padding-left: 0;
	padding-right: 0;
}

/*google maps styling*/

#bars-explain {
	text-align: center;
}

#map {
	width:800px;
	height:500px;
}

.g-pic {

	height: 100px;	
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/*-- user profile picture --*/
#profile-pic {
	width: 200px;
}

.user-avatar {
	height: 15px;
}

.footer {
	background-color: #303030;
	bottom: 0;
	color: #9d9d9d;
	height: 40px;
	position: fixed;
	width: 100%;
}